#page-landing {
  display: flex;

  background-color: var(--color-background);
}

#page-landing .sidebar {
  height: 100vh;
  width: 6.5rem;
  display: block;

  background-color: var(--color-base);
}

#main {
  width: 100%;
}

#main .topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  padding: 2rem 3rem;
}

#main .topbar svg {
  margin: 0 1.3rem;
  fill: var(--color-title-grey);
}

#main .topbar .help svg {
  height: 1.7rem;
  width: 1.7rem;
}

#main .topbar .moon svg {
  height: 1.5rem;
  width: 1.5rem;
}

#page-landing .topbar img {
  margin: 0 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

#main .header h3 {
  margin: 1rem 1rem 0 2rem;
  padding-top: 5rem;
  font: 800 1.6rem Exo;
  color: var(--color-title-grey);
}

#main .header h1 {
  margin: 0 1rem 1rem 2rem;
  font: 800 3.5rem Exo;
  color: var(--color-primary);
}

#graphs {
  height: 75%;
  margin: 1rem 0 2rem 2rem;
  background-color: var(--color-base);
}

#graphs .values h1 {
  padding-top: 3rem;
  margin: 0 1rem 0 2rem;
  font: 800 1.7rem Exo;
  color: var(--color-primary);
}

#graphs .values h3 {
  margin: 2rem 1rem 0 2rem;
  font: 800 1.2rem Exo;
  color: var(--color-title-grey);
}
