#page-landing {
  display: flex;
  height: 100vh;
}

#main {
  margin-left: 7rem;
  width: calc(95% - 8rem);
}

#charts {
  /* height: 77%; */
  width: 31%;
  margin: 1.2rem 0 2rem 2.3rem;
  padding-bottom: 5rem;
  background-color: var(--color-base);
}

#charts .values h1 {
  padding-top: 3rem;
  margin: 0 1rem 0 2rem;
  font: 800 1.7rem Exo;
  color: var(--color-primary);
}
