:root {
  /*--colocar variaveis de cores*/
  --color-primary: #007aff;
  --color-background: #ebebeb;
  --color-base: #ffffff;
  --color-font-buttons: #393636;
  --color-box-news: #e5e5e5;
  --color-title-grey: #96a0a7;
  --color-text-depositions: #c4c4c4;
  --color-footer: #393636;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  margin-bottom: 1rem;
}

body {
  background-color: var(--color-background);
}

body,
input,
button,
textarea {
  font: 500 1.6rem Exo;
}

/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
  width: 7px;
}

/* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
::-webkit-scrollbar-track {
  background: var(--color-title-grey);
}

/* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
