.values form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.values label {
  margin: 2rem 1rem -0.9rem 2rem;
  font: 800 1.4rem Exo;
  color: var(--color-title-grey);
}

.values .ranges span {
  position: relative;
  text-align: right;
  margin: 0 2rem 0 0;
  font: 800 1.9rem Exo;
}

.values .ranges input[type="range"] {
  /* -webkit-appearance: none; */
  /* appearance: none; retira toda a predefinições de css padrão do navegador */

  display: inline-block;
  margin-top: 1rem;
  width: 90%;
  height: 0.5rem;
  position: relative;
  left: 2rem;
  border-radius: 10px;
  background-color: var(--color-background);
  outline: none;
  cursor: pointer;
}

.values .ranges .options {
  position: relative;
  top: 1rem;
  left: 1.5rem;

  width: 10.8rem;
  border: none;
  outline: none;
  cursor: pointer;

  font: 760 1.9rem Exo;
}
